$color-text-primary:#000000;
$color-text-secundary:white;
$color-primary: #5B9850;
$color-secundary:#E9C039;
$color-tertiary:#277274;
$max-container-width: 1320px;
$img-border-radius:7px;
$font-size-primary:12px;
$font-size-secundary:17px;