.aside_top{
    height: 45px;
    background: $color-primary;
    color:$color-text-secundary;
    & div{
        
        align-content: center;
        text-align: center;
    }
    & div div p{
        margin-bottom: unset;
        font-size: $font-size-primary;
    }
}
    @media (min-width:660px){
    .aside_top div div p{
        font-size: $font-size-secundary;

        
    }   
}