footer{
    align-content: center;
    align-items: center;
    display: flex;
    min-height: 200px;
    background:$color-tertiary;
    div{
        height: 85px;
        border-left: 1px solid #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        p{
            margin-bottom: 0;
            color:white;
        } 
        & img{
            height: 70px;
        }
        }
    }
    .redes_boton{
        border: 1px solid #fefefe;
        border-radius: 100%;
        padding: 8px;
        
    &:hover{
        border: 1px solid #fefefe;
        background-color: #fefefe;
        color: $color-tertiary;
        .svg{
            color: $color-tertiary;
        }
    }
    }
    .svg{
        background-repeat: no-repeat;
        display: inline-block;
        fill: currentColor;
        height: 24px;
        width: 24px;
        color:white;
    }
    .redes{
        flex-direction: column;
    & div{
        border-left:none;
        gap: 2px 10px;

    }    
    }


    @media (max-width:660px)
 {
    footer{
        gap: 25px;
        flex-direction: column-reverse;
    & div{
        padding: 20px;
        border-left: unset;
        border-top: 1px solid #ffffff;
    }
    }
    .redes{
        flex-direction:row;
    }
    .redes div{
        border-top:none;
    } 

 }