footer{
    align-content: center;
    align-items: center;
    display: flex;
    height: 90px;
    background:$color-tertiary;
    div{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
    margin-bottom: 0;
    color:white;
    } 
    img{
        width: auto;
    }
    }
    }