header{
min-height: 100px;
background: #000000;
@include flex(flex,center,center);
flex-direction: column;
    div{
        @include flex(flex,center,center);
        padding-left: 90px;
        
    img{
            width: auto;
        }
    }
    }

    