ul{
    display: flex;
    
    justify-content: center;
    align-items: center;
       }
li{
    list-style: none;
}
.nav_item{
    font-size: $font-size-primary;
    color: $color-text-secundary;
    text-decoration: none;
    padding: 0 5px;
    border-radius: $img-border-radius;
    &:hover {
    // background-color: $color-primary;
    color: $color-primary;
}
}

.menu_nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;

}
@media (min-width:660px)
 {

    .menu_nav{
        gap: 20px;
        }

        .nav_item{
    
            font-size: $font-size-secundary;
            color:$color-text-secundary;
            text-decoration: none;
            padding: 0 5px;
            border-radius: $img-border-radius;
        }
        
 }