.publicidad{
    align-items: center;
    justify-content:center;
    display: flex;
    min-height: 400px;
    background:$color-secundary;
    aside{
    width: 350px;
    &:hover{
        transform: scale(1.1) ;
    }
    }
}