.publicidad{
    align-items: center;
    justify-content:center;
    display: flex;
    min-height: 400px;
    background:$color-secundary;
    aside{
    // width: 350px;
    &:hover{
        transform: scale(1.02) ;
    }
    }
}

@media (max-width:660px) {
    .container-center{
        gap: 20px;
        display: flex;
        align-content: center;
        justify-content: center;
        padding: 15px;
    }
}