.main_discografia{
    flex-direction: row; 
}
@media (max-width:660px) {
    .main_discografia{
        flex-direction: column;
    }
}
.main__div{
    display: flex;
    flex-direction: column;
    margin: 5px 0;
    align-items: center;
}
