.section__fotos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    div{
        width: 200px ;
        margin: 15px;
        filter:drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.674));
    &:hover{
        transform: scale(1.02) ;
    }
    }
}   
@media (min-width:714px)
{
.ocultar{
    display: none;
}
div.section__fotos{
    max-width: 896px;
}
}
.section__video{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    filter:drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.674));

}
@media (min-width:714px)
{
.section__video iframe{
    height:400px;
    width:600px;
}
}
@media (max-width:660px) {
.orden{
order: initial;
}
}
